SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=
DATABASE_URL=postgresql://tablister:tablister@localhost:5432/tablister
ALLOWED_ORIGINS=["http://127.0.0.1:5173"]
API_BASE_URL=http://127.0.0.1:3000
NODE_ENV=development
PORT=3000